!!!
%html
  %head
    %title= controller_name.humanize
    = stylesheet_link_tag    'mms/application', media: "all"
    = javascript_include_tag 'mms/application'
    = csrf_meta_tags
  %body
    = render 'shared/header' 
    = yield
    = render 'shared/footer' 
